
.product-card {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    img {
        border-radius: 8px;
        width: 100%;
    
    }
    &:hover {
        transform: scale(0.99);
        box-shadow: 1px 5px 10px #18181dcb;

        transition: all 0.2s;
    }

    &:hover .add-cart-btn {
        display: flex;
    }

    .card-infos {
        padding: 20px;

        .card-prices {
            font-size: 25px;
            font-weight: 400;
            display: block;
            margin-bottom: 8px;
            font-family: sans-serif;

        }

        .card-titles {
            font-size: 15px;
            line-height: 1.5;
            color: #18181dcb;
            font-weight: 500;
        }
    }

    .add-cart-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 50px;
        border: 1px solid #830cc2;
        color: #830cc2;
        margin: 5px;

        &:hover {
            cursor: pointer;
            transform: scale(0.96);
            transition: all 0.2s;
            background-color: #18181dcb;
        }

    }

}

@media only screen and (max-width: 768px){
    .product-card {
        margin: 0 auto;
        width: 100%;
        max-width: 180px;
    
        img {
            width: 100%;
        
        }

        .card-infos {
            padding: 15px;
    
            .card-prices {
                font-size: 15px;
                font-weight: 400;
                display: block;
                margin-bottom: 8px;
                font-family: sans-serif;
            }
    
            .card-titles {
                font-size: 11px;
                line-height: 1.2;
                overflow: hidden;
                color: #18181dcb;
                font-weight: 500;
            }
        }
}
}