.sidebar{
    background: linear-gradient(to top, #830cc2, #18181d);
    box-shadow: 5px 1px 10px #18181dab;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 300px;
    animation: showSidebar 0.4s;
    z-index: 1;

    .btn-close{
        width: 45px;
        height: 45px;
        padding: 8px;
        background-color: transparent;
        color: #fff;
        border-radius: 25px;
        position: fixed;
        top: 0;
        left: 240px;
        border: none;
        font-size: 25pt;
    }
}

.content{
    display: flex;
    align-items: center;
    
}

@keyframes showSidebar {
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
        width: 300px;
    }
}