.itens {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 90px;
    left: 30px;

    a {
        color: #fff;
        outline: none;
        text-decoration: none;
        font-size: 20px;
        width: 100%;
        padding: 8px;
        border-radius: 15px;
        margin: 5px;

        &:hover {
            background-color: #18181dcb;

            transform: scale(0.98);
            color: #830cc2;
            transition: all .1s;
        }
    }

    .header .search {
        display: none;
    }

    @media only screen and (max-width:768px) {

        a {
            width: 80%;
            font-size: 13px;
        }
        .search {
            display: flex;
        }
    
    }
}